@tailwind base;
@tailwind components;
@tailwind utilities;


main{
    display: flex;
    justify-content: center;
    align-items: center;

    min-height: 100vh;
    max-height: 100vh;

    min-width: 100vw;
    max-width: 100vw;

    background-color:  #363636;
    background-color:  #EFEBE0;
}


main #placeholder-container{
    width: 40vw;
    justify-content: center;
    /* background-color: aqua; */
    
    border: 1px solid #363636;
    border-radius: 5px;
    
    padding: 10px;

    font-family: "Roboto", monospace;
    
}

main #placeholder-container span{
    font-size: 1.3rem;
}


#title{
    font-size: 1.2rem;
    margin: 0 0 10px 0;
    font-weight: 500;
}


#description{
    font-size: .91rem;
    margin: 0 0 0 0;
    font-weight: 300;
}


#divider{
    height: 1.2px;
    background-color: #36363666;
    margin: 15px 0;
}


